.container
  .row
    .col-lg-12.text-center
      %h2.section-heading Portfolio
      %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
  .row
    .col-md-4.col-sm-6.portfolio-item
      = link_to('', '#portfolioModal1', class:'portfolio-link')
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
        .portfolio-hover
          .portfolio-hover-content
            %i.fa.fa-plus.fa-3x
        = image_tag('portfolio/roundicons.png', class: 'img-responsive')
      .portfolio-caption
        %h4 Round Icons
        %p.text-muted Graphic Design
    .col-md-4.col-sm-6.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
        .portfolio-hover
          .portfolio-hover-content
            %i.fa.fa-plus.fa-3x
        = image_tag('portfolio/startup-framework.png', class: 'img-responsive')
      .portfolio-caption
        %h4 Startup Framework
        %p.text-muted Website Design
    .col-md-4.col-sm-6.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
        .portfolio-hover
          .portfolio-hover-content
            %i.fa.fa-plus.fa-3x
        = image_tag('portfolio/treehouse.png', class: 'img-responsive')
      .portfolio-caption
        %h4 Treehouse
        %p.text-muted Website Design
    .col-md-4.col-sm-6.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
        .portfolio-hover
          .portfolio-hover-content
            %i.fa.fa-plus.fa-3x
        = image_tag('portfolio/golden.png', class: 'img-responsive')
      .portfolio-caption
        %h4 Golden
        %p.text-muted Website Design
    .col-md-4.col-sm-6.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
        .portfolio-hover
          .portfolio-hover-content
            %i.fa.fa-plus.fa-3x
        = image_tag('portfolio/escape.png', class: 'img-responsive')
      .portfolio-caption
        %h4 Escape
        %p.text-muted Website Design
    .col-md-4.col-sm-6.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
        .portfolio-hover
          .portfolio-hover-content
            %i.fa.fa-plus.fa-3x
        = image_tag('portfolio/dreams.png', class: 'img-responsive')
      .portfolio-caption
        %h4 Dreams
        %p.text-muted Website Design
