%body#page-top.index
  %nav.navbar.navbar-default.navbar-fixed-top
    = render 'navigation'
  %header
    = render 'header'
  %section#services
    = render 'services'
  %section#portfolio.bg-light-gray
    = render 'portfolio'
  %section#about
    = render 'about'
  %section#team.bg-light-gray
    = render 'team'
  %aside.clients
    = render 'clients'
  %section#contact
    = render 'contact'
  %footer
    = render 'footer'
  = render 'home/modal/first'
  = render 'home/modal/second'
  = render 'home/modal/third'
  = render 'home/modal/fourth'
  = render 'home/modal/fifth'
  = render 'home/modal/sixth'
