!!!
%html
  %head
    %title Lyon

    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Kaushan+Script'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
    = javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
    = javascript_include_tag 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag 'application'
